.development {
	position: relative;
	overflow: hidden;
	// .development__inner

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 600px;
		height: 100vh;
	}

	// .development__img

	&__img {
		margin-bottom: 50px;
		animation: fromTheTop 1s ease-in-out;
		@media screen and (max-width: $large) {
			margin-bottom: 30px;
			width: 360px;
		}
		@media screen and (max-width: 630px) {
			width: 236px;
		}
	}

	// .development__title

	&__title {
		margin-bottom: 35px;

		max-width: 864px;

		font-size: 96px;
		text-align: center;
		line-height: normal;

		animation:
			fromTheTop 1s ease-in-out,
			glitchAnimation 5s step-end infinite;
		-webkit-animation:
			fromTheTop 1s ease-in-out,
			glitchAnimation 5s step-end infinite;

		@media screen and (max-width: $large) {
			margin-bottom: 18px;

			max-width: 600px;

			font-size: 64px;
		}

		@media screen and (max-width: 630px) {
			margin-bottom: 20px;

			max-width: 440px;

			font-size: 40px;
		}
	}

	// .development__subtitle

	&__subtitle {
		margin-bottom: 100px;

		max-width: 620px;

		font-family: 'AGLettericaCondensed', sans-serif;
		font-size: 22px;
		color: #00f0ff;
		text-align: center;
		font-weight: 400;
		line-height: normal;

		animation: fromTheTop 1s ease-in-out;

		@media screen and (max-width: $large) {
			margin-bottom: 60px;
			font-size: 18px;
		}
		@media screen and (max-width: 630px) {
			max-width: 316px;
		}
	}

	&__form {
		animation: fromTheTop 1s ease-in-out;
		-webkit-animation: fromTheTop 1s ease-in-out;

		max-width: 500px;
		width: 100%;

		@media screen and (max-width: $large) {
			flex-direction: column;
			gap: 30px;
		}
	}
}

.form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;

	// .form__field

	&__field {
		max-width: 100%;
		width: 100%;
		padding: 5px 0;

		font-family: 'AGLettericaCondensed', sans-serif;
		font-size: 20px;
		color: $primary;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		border-bottom: 3px solid $primary;

		&::placeholder {
			color: #534e00;
			font-family: 'AGLettericaCondensed', sans-serif;
			font-size: 20px;
			font-weight: 400;
			line-height: normal;
		}

		@media screen and (max-width: $large) {
			max-width: 100%;
			font-size: 18px;

			&::placeholder {
				font-size: 18px;
			}
		}
	}

	// .form__btn

	&__btn {
		padding: 15px 30px;

		font-family: 'AGLettericaCondensed', sans-serif;
		font-size: 19px;
		color: $primary;
		font-weight: 700;
		line-height: normal;

		border: 3px solid $primary;

		@include hover {
			animation: glitchAnimation 5s step-end infinite;
			-webkit-animation: glitchAnimation 5s step-end infinite;
		}

		&:active {
			scale: 0.97;
		}
	}
}

// Lights
#top-line {
	position: absolute;
	left: 100px;
	top: 0;
	animation: fromTheLeft 1s ease-in-out;
	-webkit-animation: fromTheLeft 1s ease-in-out;

	@media screen and (max-width: $large) {
		width: 100px;
		height: 280px;
	}
	@media screen and (max-width: $medium) {
		width: 100px;
		height: 150px;
		left: 50px;
	}
	@media screen and (max-width: 630px) {
		left: 10px;
	}
}

#bot-line {
	position: absolute;
	right: 100px;
	bottom: 0;
	animation: fromTheRight 1s ease-in-out;
	-webkit-animation: fromTheRight 1s ease-in-out;

	@media screen and (max-width: $large) {
		width: 100px;
		height: 280px;
	}
	@media screen and (max-width: $medium) {
		width: 100px;
		height: 150px;
		right: 50px;
	}
	@media screen and (max-width: 630px) {
		right: 10px;
	}
}

/* SVG ANIMATION */

.path {
	stroke-width: 2;
	animation: stroke 6s linear infinite;
	-webkit-animation: stroke 6s linear infinite;
	animation-delay: 0;
}

.path-2 {
	animation-delay: -1500ms;
	-webkit-animation-delay: -1500ms;
}

.path-3 {
	animation-delay: -2500ms;
	-webkit-animation-delay: -2500ms;
}

.path-4 {
	animation-delay: -3500ms;
	-webkit-animation-delay: -3500ms;
}

.path-5 {
	animation-delay: -4500ms;
	-webkit-animation-delay: -4500ms;
}

.path-6 {
	animation-delay: -5500ms;
	-webkit-animation-delay: -5500ms;
}

/* Glitch */

.glitch {
	animation: glitchAnimation 5s step-end infinite;
	-webkit-animation: glitchAnimation 5s step-end infinite;
}

@keyframes stroke {
	0% {
		stroke-dasharray: 30 5 30 5;
		fill: rgba(252, 238, 10, 1);
	}

	25% {
		stroke-dasharray: 40 10 40 10;
		fill: rgba(252, 238, 10, 0.7);
	}

	50% {
		stroke-dasharray: 50 15 50 15;
		fill: rgba(252, 238, 10, 0);
	}

	75% {
		stroke-dasharray: 40 10 40 10;
		fill: rgba(252, 238, 10, 0.7);
	}

	100% {
		stroke-dasharray: 30 5 30 5;
		fill: rgba(252, 238, 10, 1);
	}
}

@keyframes fromTheTop {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fromTheLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fromTheRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

//
